@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --ff-text: 'DM Sans', sans-serif;
    --neutral--0: #fff;
    --neutral--50: #f8f9fa;
    --neutral--100: #f2f3f6;
    --neutral--200: #d8dae0;
    --neutral--300: #6d7081;
    --neutral--400: #3b3d4a;
    --neutral--500: #262831;
    --neutral--600: #1d1e20;
    --neutral--700: #161718;
    --neutral--800: #000;
    --primary--50: #f1ecff;
    --primary--100: #e2dbfc;
    --primary--200: #c5b8f8;
    --primary--300: #b39ef3;
    --primary--400: #7253ee;
    --primary--500: #673de6;
    --primary--600: #5025d1;
    --primary--700: #45209d;
    --primary--800: #2f1c6a;
    --primary--900: #261559;
    --primary--1000: #1f1346;
    --meteorite--50: #f5f5ff;
    --meteorite--100: #eaeaff;
    --meteorite--200: #cbc8ff;
    --meteorite--300: #b6b2ff;
    --meteorite--400: #a19bff;
    --meteorite--500: #8c85ff;
    --light-blue--50: #fafbff;
    --light-blue--100: #f4f5ff;
    --light-blue--200: #d5dfff;
    --light-blue--300: #c3cce9;
    --light-blue--400: #b0b9d4;
    --light-blue--500: #888faa;
    --danger--50: #fff3f7;
    --danger--100: #ffe8ef;
    --danger--200: #fea8c2;
    --danger--300: #fd8bad;
    --danger--400: #fc6e99;
    --danger--500: #fc5185;
    --danger--600: #d63163;
    --danger--700: #b22852;
    --warning--100: #fff8e2;
    --warning--200: #ffd28c;
    --warning--500: #ffcd35;
    --warning--600: #fea419;
    --warning--700: #9f6000;
    --success--100: #def4f0;
    --success--200: #80d8c8;
    --success--500: #00b090;
    --success--600: #008361;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-text);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Estilos del Header Nav */
.header-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral--0);
    gap: 10px;
    width: 100%;
    height: 88px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-container .container-logo {
    box-sizing: border-box;
    width: 187px;
    height: 88px;
    padding: 29px 0 29px 40px;
    color: var(--neutral--600);
    cursor: pointer;
}

.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5px;
    width: calc(100% - 137px);
    padding: 20px 40px;
    font-family: var(--ff-text);

}

.list-container-links ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    height: 25px;
}

.list-container-links ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--neutral--600);
    cursor: pointer;
}

.list-container-links ul li a:hover {
    color: var(--neutral--300);
}

.list-container-links ul li a .h-svgo-icon {
    width: 24px;
    height: 24px;
    margin-left: 1px;
}

.list-container-links .badge-nuevo {
    background-color: var(--success--100);
    color: var(--success--600);
    padding: 4px 12px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 600;
}

.config-user {
    display: flex;
    align-items: center;
    height: 48px;
    gap: 24px;
    padding: 5px;
    font-weight: 700;
}

.config-user .language-selector {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--neutral--600);
    padding: 6px 10px;
    cursor: pointer;
}

.config-user .language-selector:hover {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--neutral--300);
    padding: 6px 10px;
    cursor: pointer;
}

.config-user .burger-button {
    display: none;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.language-selector .flag-icon {
    width: 32px;
    height: 20px;
}

.config-user .login-button {
    background-color: transparent;
    font-size: 16px;
    color: var(--neutral--600);
    font-weight: 700;
    border: 2px solid var(--neutral--700);
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
}


/*Hero Section*/

.section-container__hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
    height: 576px;
    width: 100%;
    background-color: var(--neutral--0);
    padding: 36px 80px 96px 80px;
    gap: 8px;
    border: none;
}

.section-container__hero .h-img img {
    max-height: 100%;
    max-width: 880px;
    height: 576.5px;
    overflow: hidden;
}

.section-content__hero {
    box-sizing: border-box;
    font-family: var(--ff-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 463px;
    height: 442px;
}

.section-content__hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 24px;
}

.section-content__hero-header .section-title {
    display: block;
    font-size: 36px;
    font-weight: 700;
    color: var(--primary--800);
    line-height: 40px;
    text-align: start;
    word-spacing: 6px;
}

.section-content__hero-header .section-desc {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary--800);
    height: 32px;
    margin: 8px 0 0;
    line-height: 32px;
}

.section-content__hero-header .section-desc span {
    color: var(--primary--500);
}

.section-content__hero .feature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    color: var(--primary--800);
    margin: 0 0 24px;
}


.feature-list .feature-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0 0 2px;
    gap: 10px;
}


.section-content__hero .feature-list .feature-item .feature-item__icon {
    width: 24px;
    height: 24px;
    color: var(--success--600);
}

.feature-item__tooltip {
    width: 16px;
    height: 16px;
}

.hero-price {
    font-size: 20px;
    color: var(--primary--800);
}

.hero-price__valor {
    font-size: 48px;
    font-weight: 700;
    height: 56px;
}

.section-content__hero .section-p {
    font-size: 20px;
    color: var(--primary--800);
    font-weight: 700;
    height: 32px;
    margin: 0 0 16px 0;
}

.section-content__hero .section-link {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    height: 48px;
    font-size: 12px;

}

.section-content__hero .section-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary--500);
    height: 48px;
    width: 190px;
    border-radius: 8px;
    border: 2px solid var(--primary--500);
    color: var(--neutral--0);
    font-size: 16px;
    font-weight: 700;
}

.section-content__hero .section-link .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    font-size: 16px;
    background-color: var(--primary--100);
    border-radius: 8px;
    border: 2px solid var(--primary--100);
    font-weight: 700;
    color: var(--primary--800);
    word-spacing: -1px;
}

.section-content__hero .section-note {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    color: var(--primary--800);
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    gap: 10px;
    margin: 12px 0;
}

.section-content__hero .section-note .section-note__icon {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
}




/* Sección Migration */

.section-container__migration {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 576px;
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary--1000);
    color: var(--neutral--0);
}


.section-content__migration {
    width: 1128px;

}

.section-title__migration {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    gap: 20px;

}

.title__migration {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1px;
}

.text-m {
    font-size: 16px;
    text-align: center;
    line-height: 24px;

}

.articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    height: 256px;

}

.articles-container .article-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    background-color: var(--primary--800);
    color: var(--neutral--0);
    padding: 25px;
    border-radius: 16px;
    gap: 16px;
    max-height: 400px;
    overflow-y: auto;
    padding: 32px;
}

.text-size-p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.text-size-h {
    font-size: 18px;
    font-weight: 700;
}

.article-card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--primary--500);
    padding: 10px 7px;

}

.article-card .icon .bi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    padding: 20px;
}


.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 168px;
    text-decoration: none;
    border-radius: 8px;
    background-color: var(--primary--500);
    font-weight: 700;
    color: var(--neutral--0);

}

.btn-primary:hover {
    background-color: var(--primary--600);
    transition: all 0.3s ease-in-out;
}



/* Aca empieza el Footer */

.footer-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue--100);
    color: var(--primary--800);
    width: 100%;

}



.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue--100);
    color: var(--primary--800);
    width: 1128px;
    padding: 80px 40px 0 40px;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Sección derecha Social */

.footer-social__left .footer-logo svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 30px;
    color: var(--primary--800);

}

.footer-social__right .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-social__right .social-icons a svg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary--800);
    width: 32px;
    height: 32px;
}

.footer-social__right .social-icons a svg path {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary--800);
    width: 27px;
    height: 27px;
}

/* Sección Politics (Métodos de pago y links de políticas) */

.footer-politics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--light-blue--200);
    padding: 20px 0 24px 0;
}

.footer-politics__left .payment-methods {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-politics__left .payment-methods img {
    height: 40px;
    border: 1px solid var(--light-blue--200);
    border-radius: 5px;
}


.footer-politics__left .payment-methods a {
    font-size: 14px;
    color: var(--primary--500);
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
}

.footer-politics__right .policy-links ul {
    display: flex;
    gap: 16px;
}

.footer-politics__right .policy-links a {
    font-size: 14px;
    font-family: var(--ff-text);
    color: var(--primary--800);
    white-space: nowrap;
}


/* Sección Copyright */
.footer-copyright__left p,
.footer-copyright__right p {
    font-size: 14px;
    font-family: var(--ff-text);
    color: var(--primary--800);
    padding: 24px 0;
}

/* De acá en adelante el boton Fixed de Chat*/

.chat-button-container {
    position: fixed;
    bottom: 16px;
    right: 20px;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary--500);
    width: 186px;
    height: 40px;
    border-radius: 100px;
    font-family: var(--ff-text);
    font-weight: 500;


}

.chat-button-container:hover {
    background-color: var(--primary--700);
    transition: all 0.1s ease-in-out;
}

.chat-button {
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.chat-button .bi {
    width: 16px;
    height: 16px;
}


/* Media Queries */

@media screen and (max-width: 1368px) {
    .section-container__hero {
        min-height: 442px;
        margin-top: 88px;
    }

    .section-container__hero .h-img {
        height: 403px;
    }
}

@media screen and (max-width: 1208px) {
    .section-content__migration {
        width: 100%;
        height: fit-content;
        gap: 16px;
        padding: 0 40px;
    }

    .articles-container {
        width: 100%;
        height: fit-content;
    }

    .article-card {
        flex: 1;
        width: 100%;
        height: auto
    }

    .btn-container {
        padding-top: 32px;
    }
}



@media screen and (max-width: 1140px) {
    .header-container {
        height: 62px;
    }

    .header-container {
        padding: 16px 0 16px 0px;
    }

    .container-logo {
        width: 177px;
        height: 62px;
        padding: 16px 0 16px 20px;
    }

    .list-container {
        padding-right: 16px;
    }

    .list-container .list-container-links ul {
        display: none;
    }

    .config-user .language-selector {
        display: none;
    }

    .config-user .login-button {
        display: none;
    }

    .config-user .burger-button {
        display: flex;
    }

    .section-container__hero {
        margin-top: 62px;
    }

    .section-content__hero {
        padding-left: 70px;
    }


    .section-container__migration {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .section-container__hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: fit-content;
        padding: 62px 40px 80px 40px;
    }

    .section-container__hero .h-img {
        height: 451px;
    }

    .section-content__hero {
        width: 688px;
        margin-bottom: 50px;
    }

    .section-content__hero-header .section-title {
        font-size: 28px;
    }

    .section-content__hero-header .section-desc {
        font-size: 18px;
    }

    .section-container__migration {
        width: 100%;
        height: auto;
        min-height: 576px;
        padding: 64px 0;
    }

    .section-content__migration {
        width: 688px;
        gap: 24px;
    }

    .section-content__migration .articles-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .article-card {
        width: 100%;
        height: fit-content;
    }

    .footer-content {
        width: 688px;
        padding: 80px 0 10px;
    }

    .footer-politics {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

    .footer-politics__left {
        order: 2;
    }

    .footer-politics__right {
        order: 1;
    }

    .footer-copyright {
        flex-direction: column;
        align-items: start;
        height: fit-content;
        padding: 24px 0;
        gap: 16px;
    }

    .footer-copyright__left p,
    .footer-copyright__right p {
        height: auto;
        padding: 0;
    }


}


@media screen and (max-width: 768px) {
    .section-container__hero {
        width: 100%;
        height: auto;
        padding: 32px 0px 80px 0px;
    }

    .section-content__hero {
        width: 508px;
        justify-content: center;
        padding-left: 10px;
        margin-bottom: 0px;
        height: auto;
        object-fit: contain;
    }

    .section-container__hero .h-img {
        width: 100%;
        height: auto;
    }

    .section-container__hero .h-img img {
        width: 100%;
        height: auto;
    }

    .section-content__hero-header .section-title {
        font-size: 24px;
        word-spacing: 0px;
        font-weight: 700;
    }

    .section-content__hero .section-link {
        flex-direction: column;
        height: fit-content;
    }

    .section-content__hero .section-link a,
    .section-content__hero .section-link .timer {
        width: 100%;
        height: 48px;
    }

    .section-content__migration {
        width: 508px;
    }

    .articles-container,
    .article-card,
    .article-card.div {
        width: 100%;
        height: auto;
    }

    .footer-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-content {
        width: 508px;
        padding: 80px 0 20px;
    }

    .footer-social {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

    .footer-social__left {
        order: 2;
    }

    .footer-social__right {
        width: 100%;
        order: 1;
    }

    .footer-social__right .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 16px;
    }

    .footer-copyright {
        padding: 24px 0 0;
    }

    .footer-politics__left .payment-methods {
        width: 300px;
    }

    .footer-politics__right .policy-links {
        width: 105px;
        padding: 0;
    }

    .footer-politics__right .policy-links ul li {
        min-width: 105px;
    }

    .footer-politics__right .policy-links ul li a {
        text-wrap: wrap;
    }

    .chat-button-container {
        right: 2px;
    }

}

@media screen and (max-width: 540px) {
    .header-container {
        padding: 16px 0px 16px;
    }

    .section-container,
    .section-container__hero,
    .section-container__migration,
    .section-content__hero,
    .section-content__migration,
    .footer-container,
    .footer-content {
        width: 100%;
        min-width: 0;
        max-width: 100%;
        padding: 10px 16px 56px 16px;
    }


    .section-container__hero .h-img img {
        width: 100%;
        height: auto;
    }

    .footer-politics__right .policy-links {
        width: 100%;
        padding: 0;
    }

    .footer-politics__right .policy-links ul {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
    }

    .footer-politics__right .policy-links ul li {
        min-width: 0;
        width: auto;
        height: fit-content;
        flex: 1;
        gap: 6px;
    }

}