<style>
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
</style>

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-list{
    background-color: rgb(79, 85, 85);
    color: aliceblue;
    padding: 15px 0px;
    margin-left: 10px;
    text-align: left;
    width:max-content;
    list-style: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
}

.nav-list .section-nav{
    font-size: 20px;
    color: aliceblue;
    text-align: left;
    

}
.nav-list li{
    margin: 5px 5px;
    padding: 3px;
    font-size: 12px;
    color: aliceblue;
    border: 0.01em solid rgb(180, 176, 176);
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
}

.nav-list li:hover{
    background-color: rgb(29, 27, 27);
    color: rgb(197, 255, 36);
    transition: all 0.1s ease-in-out;
}

.nav-list .section-principal {
    color:rgb(253, 9, 58);
    background-color: rgb(253, 158, 141);
    width: 50px;
    font-size: 20px;
    border-radius: 0px 3px 3px 0px;
    border: 0;
    border-left: 2px solid rgb(253, 9, 58);
}

.nav-list .section-principal:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(250, 7, 7);
    transition: all 0.1s ease-in-out;
}
