*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
width: 100vw; /* 100% del viewport */
height: 100vh; /* 100% del viewport */
background-color: green;
display: flex;
flex-direction: row; /* Direccion de los hijos en sentido horizontal (viene por defecto)*/
justify-content: center; /* Alineacion de los hijos en el eje horizontal */
align-items: center; /* Alineacion de los hijos en el eje vertical */
}

.hijo {
width: 200px; /* 300px de ancho */
height: 300px; /* 300px de alto */
background-color: red; 
border: 2px solid black;
}