@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*  {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
}

body {
    background-color: cadetblue;
    border: 10px solid black;
    width: 100vw;
    height: 100vh;
}

.ads-container {
   width: 100%;
   height: 70px;
   display: flex;
   background-color: white;
   align-items: center;
   justify-content: center;
}

.ads-container-mobile {
display: none;
}

.btn-menu {
display: none;
}
.nav-list {

    display: flex; /* Hace que los elementos hijos se alineen horizontalmente */
    justify-content: flex-start; /* Espacio entre los elementos */
    padding: 5px 20px; /*Espacio interno alrededor de la lista */
    /* margin: 10px 0px; */
    width: 100%; /* Ajusta el ancho al contenido de los enlaces */
    border-bottom: 1px solid #ccc; /* Añade un borde gris claro alrededor de la lista */
    font-family: dmsans, sans-serif; /* Cambia la fuente a DM Sans */
    color: #1D1E20;
    font-size: 16px;
}

.nav-list .nav-links {
    display: flex; /* Hace que los elementos de la lista se alineen horizontalmente */
    margin: 6px 20px;
    list-style: none;
    padding: 0 0px;
}

.nav-list .nav-links div{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin: 0px 20px;
    list-style: none;
    text-decoration: none;  
    font-family: dmsans, sans-serif; /* Cambia la fuente a DM Sans */
    color: #1D1E20;
    font-size: 16px;
}
.nav-list .nav-links div a{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #1D1E20;

}
.new{
    background-color: rgb(243, 110, 110);
    color: white;
    padding: 5px 10px;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centra el texto dentro del div */
}

/* Si se cumple que mi pantalla mide HASTA 1000PX*/
@media screen and (max-width: 1000px) {
    body {
        background-color: rgb(197, 171, 56);
    }
    
    .ads-container {
        display: none;
    }
.ads-container-mobile {
        display: flex;
        width: 100px;
        height: 73px;
        display: flex;
        flex-direction: row;
        align-items: end;
        top: 16px;
        right: 16px;
        background-color:chartreuse;
        align-items: center;
        justify-content: center;
    }

    .btn-menu{
        display: flex;
    }

    .header-container .nav-links {
        display: none; /* Oculta los enlaces de navegación */
    }
}

@media screen and (
    max-width: 1000px) and (min-width: 500px) {
        body {
            background-color: rgb(197, 171, 56);
        }
        
        .ads-container {
            display: none;
        }
    .ads-container-mobile {
            display: flex;
            width: 100px;
            height: 73px;
            display: flex;
            flex-direction: row;
            align-items: end;
            top: 16px;
            right: 16px;
            background-color:chartreuse;
            align-items: center;
            justify-content: center;
        }

        .btn-menu{
            display: flex;
        }

        .header-container .nav-links {
            display: none; /* Oculta los enlaces de navegación */
        }
    
}